body
{
 background-position: center;
 background-size: cover;
}
div{
    width: 100%;
}
.heading h3{
    display: inline;
}
.heading button{
float:right
}
#start{
    box-shadow: 1px 1px 1px grey;
    font-size: 24px;
}
#right_footer{
    width: 100%;
}
canvas{
    box-shadow: 2px 2px 2px rgb(157, 141, 141);
    border-radius: 0%;
}